.contactPage {
  padding: 60px 20px;
  background-color: #fff2e1; /* Soft luxury beige */
  min-height: 100vh;
}


.header {
  text-align: center;
  margin-bottom: 50px;
}

.header h1 {
  font-size: 36px;
  color: #a79277;
  margin-bottom: 10px;
}

.header p {
  color: #555;
  font-size: 16px;
}

.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.info {
  flex: 1;
  min-width: 280px;
}

.info h3 {
  margin-bottom: 15px;
  color: #a79277;
}

.info p {
  margin-bottom: 8px;
  font-size: 14px;
}

.hours {
  margin-top: 20px;
}

.form {
  flex: 1;
  min-width: 280px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
}

.form h3 {
  margin-bottom: 20px;
  color: #a79277;
}

.form input,
.form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #d1bb9e;
  border-radius: 6px;
  font-size: 14px;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-color: #a79277;
}

.form button {
  width: 100%;
  padding: 12px;
  background-color: #a79277;
  color: #fff2e1;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.form button:hover {
  background-color: #8f7b63;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
